:root {
  --switch-size: 40px;
  --switch-width: var(--switch-size);
  --switch-height: calc(var(--switch-size) / 2);
  --switch-knob-size: calc(var(--switch-size) / 2.57);
  --switch-knob-active-size: calc(var(--switch-size) / 2.12);
  --switch-knob-offset: calc(var(--switch-size) / 18);
  --switch-border-radius: calc(var(--switch-size) / 2);
}

.themeSwitcher-input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.themeSwitcher-label {
  cursor: pointer;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--theme-neutral);
  display: block;
  border-radius: var(--switch-border-radius);
  position: relative;
}

.themeSwitcher-label:after {
  content: '☀️';
  position: absolute;
  top: var(--switch-knob-offset);
  left: var(--switch-knob-offset);
  width: var(--switch-knob-size);
  height: var(--switch-knob-size);
  background: var(--background);
  border-radius: 50%;
  transition: 0.3s;
  font-size: calc(var(--switch-size) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeSwitcher-input:checked+.themeSwitcher-label {
  background: var(--theme-secondary);
}

.themeSwitcher-input:checked+.themeSwitcher-label:after {
  left: calc(100% - var(--switch-knob-offset));
  transform: translateX(-100%);
  content: '🌙';
}

.themeSwitcher-label:active:after {
  width: var(--switch-knob-active-size);
}