@import "tailwindcss";

@import "../styles/ThemeSwitcher.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --theme-primary: #284260;
  --theme-secondary: #1CA7C8;
  --theme-neutral: #6E859F;
}

.dark {
  --background: #142538;
  --theme-primary: #61A4F0;
  --theme-secondary: #1CA7C8;
  --theme-neutral: #e4f0ff;
}

@theme {
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-neutral: var(--theme-neutral);
  --font-title: "Chakra Petch", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--color-neutral);
  font-family: var(--font-inter), sans-serif;
}

